# Ignore Python installer
installer/python-3.12.7-amd64.exe

# Ignore all `.exe` files
installer/*.exe
*.exe

# Allow configurator.exe in the dist folder
!dist/configurator.exe

# Ignore all `.msi` files
installer/*.msi
*.msi

# Ignore all `.cab` files
installer/*.cab
*.cab

# Ignore all `dist` and `build` directories except README.md and configurator.exe
dist/
!dist/configurator.exe
!dist/README.md

build/

# Ignore PyInstaller spec files
*.spec

# Ignore IDE or editor-specific files
.vscode/
*.log
